Options +FollowSymLinks
RewriteEngine On
RewriteBase /Programowanie_aplikacji_internetowych-main/logowanie/public/

RewriteRule ^$ index.php?action=glowna [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]